---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import Jumbo from "../components/Jumbo.astro";
---

<Layout title="Dmytro Mostovyi | Github Page">
  <div class="flex flex-1">
    <div class="absolute inset-0 overflow-clip">
      <Jumbo />
    </div>
    <section class="flex flex-1 items-center justify-center relative">
      <Profile />
    </section>
  </div>
</Layout>
