meta(charset='UTF-8')
meta(name='viewport', content='width=device-width')

//- link(rel="preload" href="https://evilmartians.com/locations/ai" as="fetch" crossorigin)
link(rel='preconnect', href='https://fonts.googleapis.com')
link(rel='preload', href='./assets/avatar.webp', as='image')

//- link(itemprop="sameAs" href="https://www.facebook.com/andrey.sitnik")
meta(itemprop='gender', content='male')
title Dmytro Mostovyi
link(itemprop='url', href='https://distolma.github.io/')
link(rel='shortcut icon', href='favicon.ico')
