header.header
  button.header__button.icon
    svg.icon.no-slash
      use(href='./svg/eye.svg')
    //- svg.icon.slash
    //-   use(href="./svg/eye-slash.svg")
  button.header__button 
    svg.icon
      use(href='./svg/s.svg')
