---
import { Icon } from "astro-icon/components";
---

<div>
  <div class="flex flex-col gap-4 text-center text-gray-700 dark:text-gray-100">
    <hgroup class="opacity-80">
      <h1 class="text-2xl">Dmytro Mostovyi</h1>

      <h2 class="text-lg">Software Engineer</h2>
    </hgroup>

    <div class="flex justify-center gap-8">
      <a
        class="inline-block h-9 w-9 p-2"
        href="mailto:me@dmostovyi.com"
        target="_blank"
        aria-label="Send an email to Dmytro Mostovyi"
        data-umami-event="Send an email"
      >
        <Icon name="envelope" class="h-5 w-5" aria-hidden="true" />
      </a>
      <a
        class="inline-block h-9 w-9 p-2"
        href="https://github.com/distolma"
        target="_blank"
        rel="noopener"
        aria-label="Navigate to Dmytro Mostovyi's Github profile"
        data-umami-event="Navigate to Github"
      >
        <Icon name="github" class="h-5 w-5" aria-hidden="true" />
      </a>
      <a
        class="inline-block h-9 w-9 p-2"
        href="https://www.linkedin.com/in/dmytromostovyi/"
        target="_blank"
        rel="noopener"
        aria-label="Navigate to Dmytro Mostovyi's LinkedIn profile"
        data-umami-event="Navigate to LinkedIn"
      >
        <Icon name="linkedin" class="h-5 w-5" aria-hidden="true" />
      </a>
    </div>
  </div>
</div>
